# PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/arthuila

# JWT
JWT_SECRET=super_secret_key_change_me_in_prod
JWT_REFRESH_SECRET=super_secret_refresh_key_change_me
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dcoj4c3ay
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# Email Configuration (Nodemailer Gmail)
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_app_password_de_gmail

# Server
PORT=3000
FRONTEND_URL=http://localhost:5173
